<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Sqrt Results</h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>
        Square
      </dt>
      <dd class="Sqrt">
        <%= @sqrt %>
      </dd>

      <dt>
        Sqrt
      </dt>
      <dd class="square">
        <%= @number %>
      </dd>
    </dl>
  </div>
</div>
