<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Square Results</h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>
        Text
      </dt>
      <dd class="root">
        <%= @number %>
      </dd>

      <dt>
        Square
      </dt>
      <dd class="square">
        <%= @square %>
      </dd>
    </dl>
  </div>
</div>
